.inbox{

    .outer{
        display: flex;
        flex-direction: row;
    }

    .inner{
        padding: 2rem 10rem;
        flex-grow: 1;
    }

    .todos{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .todo{
        display: flex;
        flex-direction: row;
        padding: 1rem ;
        border: 1px solid #EEEEEE;
        border-radius: 5px;
        margin: 0.5rem 0;
    }

    .todo:hover .hide{
        cursor: pointer;
        display: flex;
    }

    .todo-title{
        font-weight: normal;
    }

    .options{
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .options-btn{
        all:unset;
        cursor: pointer;
        // margin: 0 0.5rem;
        
    }

    .check{
        margin: 0 1rem 0 0;
        border: 2px solid black;
        border-color: black;
        border-radius: 50%;
        background-color: #EEEEEE;
        width: 20px;
        height: 20px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .check:hover .hide{
        cursor: pointer;
        display: inline-block;
    }

    .hide{
        display: none;
        transition: all 2s ;
    }  

}